.overview-container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.overview-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}
#empty-favorites-message {
  color: white;
}
